{{>layouts/header}}

<!-- dto 멤버와 같은 이름으로 name을 설정해줘야 한다 -->

<form class="container" action="/articles/create" method="post">  <!-- form 데이터를 post방식으로 articles/create으로 보냄 -->
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles">Back</a> <!-- articles url로 요청을 보낼 수 있는 버튼 생성 -->
</form>
{{>layouts/footer}}